<!DOCTYPE Configuration>
<Config>
 <Network>
  <Commands>
    <OnRequest body="[{'ref':1, 'set_output10':1}]" url="http://192.168.200.99/gtc/appareils.json"/>
    <OffRequest body="[{'ref':0, 'set_output10':0}]" url="http://192.168.200.99/gtc/appareils.json"/>
  </Commands>
  <DataRetrieving>
    <WebService url="http://192.168.200.99/gtc/appareils.json" interval="1" />
  </DataRetrieving>
 </Network>
 <AutoControlParameters duration="03:01" hour="20:14" enabled="True"/>
 <Pages>
   <Page title="General">
     <Widget type="label" text="Température eau :" x="200" y="200" width="100" height="30" />
     <Widget type="image" path="cumulus.png" x="400" y="200" width="300" height="300" />
     <Widget type="value" variable="water_temp" x="300" y="200" width="50" height="30" />
   </Page>
   <Page title="History">

   </Page>
 </Pages>
</Config>
