<!DOCTYPE Configuration>
<Config>
 <Network>
  <Commands>
    <OnRequest body="[{'ref':1, 'set_output10':1}]" url="http://192.168.200.99/gtc/appareils.json"/>
    <OffRequest body="[{'ref':0, 'set_output10':0}]" url="http://192.168.200.99/gtc/appareils.json"/>
  </Commands>
  <DataRetrieving>
    <WebService url="http://192.168.200.99/gtc/appareils.json" interval="1" />
  </DataRetrieving>
 </Network>
 <AutoControlParameters duration="03:01" hour="20:14" enabled="True"/>
 <Pages>
   <Page title="General">
     <Widget type="label" text="Température eau :" x="150" y="200" width="150" height="30" fontSize="12" />
     <Widget type="image" path="cumulus.png"       x="330" y="100" width="300" height="300" />
     <Widget type="value" variable="water_temp"    x="300" y="200" width="50" height="30" />
   </Page>
   <Page title="History">
   </Page>
   <Page title="Configuration">
     <Widget type="button" text="Force ON" x="80" y="80" width="300" height="100" fontSize="30">
       <HTTPPostRequest body="[{'ref':1, 'set_output10':1}]" url="http://192.168.200.99/gtc/appareils.json"/>
     </Widget>
     <Widget type="button" text="Force OFF" x="420" y="80" width="300" height="100" fontSize="30">
       <HTTPPostRequest body="[{'ref':1, 'set_output10':1}]" url="http://192.168.200.99/gtc/appareils.json"/>
     </Widget>
     <Widget type="button" text="AUTO ON/OFF" x="80" y="200" width="300" height="100" fontSize="30">
       <ModuleEvent module="water_heater" event="config_dialog" />
     </Widget>
     <Widget type="button" text="Config general" x="420" y="200" width="300" height="100" fontSize="30">
       <ModuleEvent module="general" event="config_dialog" />
     </Widget>
   </Page>
 </Pages>
</Config>
